<%-include('./partials/header') %>
<%-include('./partials/navbar') %>

<main class="container">
    <div class="mx-auto">
        <h1 style="border-bottom: 2px solid #94D2Bd;padding:10px 0px" class="mb-2">About</h1>
    <p style="font-family: Georgia, 'Times New Roman', Times, serif; text-align: justify;word-spacing: 2px;">The <strong>Visitor's App</strong> is designed and developed by <strong>Nirmit Sawhney</strong> keeping 
    in view to help others and provide some accessibilty. In the words of Nelson Mandela, <em>"there can be no greater gift than
        that of giving one's time and energy to help others."</em> This application provides you a great accessibilty to manage and keeping 
    the track of visitors checking in and out. This visitor's management app can be used by hotels autorities to keeping track of their visitors, 
educational institutes to keeping track of daily attendance and can be used in many more areas. That's all about the app.<br>
<a href="mailto:nirmitsawhney01@gmail.com" class="btn btn-info btn-small mt-2">Queries and Feedback</a></p>
    </div>
</main>

<%-include('./partials/footer')%>